service: api-go-auth

frameworkVersion: "3"

provider:
  name: aws
  runtime: provided.al2
  architecture: arm64
  region: ${env:AWS_REGION}
  stage: ${env:STAGE}
  httpApi:
    cors: true
    name: ${self:service}-${self:provider.stage}-api

package:
  individually: true

custom:
  version: "v1"
  prefix: ${self:service}-${self:provider.stage}

resources:
  Resources:
    UserPool:
      Type: AWS::Cognito::UserPool
      Properties:
        UserPoolName: ${self:custom.prefix}-userpool
        AccountRecoverySetting:
          RecoveryMechanisms:
            - Name: admin_only ## admin_only | verified_email | verified_phone_number
              Priority: 1
        AdminCreateUserConfig:
          AllowAdminCreateUserOnly: true
        DeletionProtection: INACTIVE
        MfaConfiguration: "OFF"
        UsernameConfiguration:
          CaseSensitive: false

    UserPoolAAA:
      Type: AWS::Cognito::UserPool
      Properties:
        UserPoolName: ${self:custom.prefix}-aaa
        AccountRecoverySetting:
          RecoveryMechanisms:
            - Name: admin_only ## admin_only | verified_email | verified_phone_number
              Priority: 1
        AdminCreateUserConfig:
          AllowAdminCreateUserOnly: true
        DeletionProtection: INACTIVE
        MfaConfiguration: "OFF"
        UsernameConfiguration:
          CaseSensitive: false
        AliasAttributes: ## phone_number | email | preferred_username
          - email
          - phone_number
          - preferred_username

    UserPoolBBB:
      Type: AWS::Cognito::UserPool
      Properties:
        UserPoolName: ${self:custom.prefix}-bbb
        AccountRecoverySetting:
          RecoveryMechanisms:
            - Name: admin_only ## admin_only | verified_email | verified_phone_number
              Priority: 1
        AdminCreateUserConfig:
          AllowAdminCreateUserOnly: true
        DeletionProtection: INACTIVE
        MfaConfiguration: "OFF"
        UsernameConfiguration:
          CaseSensitive: false
        UsernameAttributes:  ## phone_number | email
          - email
          - phone_number

    UserPoolCCC:
      Type: AWS::Cognito::UserPool
      Properties:
        UserPoolName: ${self:custom.prefix}-ccc
        AccountRecoverySetting:
          RecoveryMechanisms:
            - Name: admin_only ## admin_only | verified_email | verified_phone_number
              Priority: 1
        AdminCreateUserConfig:
          AllowAdminCreateUserOnly: true
        DeletionProtection: INACTIVE
        MfaConfiguration: "OFF"
        UsernameConfiguration:
          CaseSensitive: false
        AliasAttributes: ## phone_number | email | preferred_username
          - email
          - phone_number
          - preferred_username
        UsernameAttributes:  ## phone_number | email
          - email
          - phone_number

  Outputs:
    UserPoolId:
      Description: "User Pool Id"
      Value: !Ref UserPool
      Export:
        Name: ${self:custom.prefix}-userpoolid
    UserPoolArn:
      Description: "User Pool ARN"
      Value: !GetAtt UserPool.Arn
      Export:
        Name: ${self:custom.prefix}-userpoolarn
    UserPoolProviderName:
      Description: "User Pool Provider Name"
      Value: !GetAtt UserPool.ProviderName
      Export:
        Name: ${self:custom.prefix}-userpoolprovidername
    UserPoolProviderURL:
      Description: "User Pool Provider URL"
      Value: !GetAtt UserPool.ProviderURL
      Export:
        Name: ${self:custom.prefix}-userpoolproviderurl
